@import '../globals/variables';

// ========================================= Container ================================= //

.container {
  width: 1080px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}