@import '../globals/variables';

// ========================================= Checkbox ================================= //

.checkbox {
    border: $border;
    border-radius: 4px;
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer;
    
    i {
      display: none;
      color: $green;
      display: none;
      margin-left: 2px;
      margin-top: 2px;
      float: left;
    }
    
}